.vscode/
.idea/

__pycache__/

# folders
output/
outputs/
dataset/
captured/
reports/
usd/
scripts/

# specific paths
EG_agent/vlmap/config/class_list/*.json
simulation/data/terrains/*

# specific file types
*.pt

# specific files
behavior_tree.png
tree.btml
