# basic dependencies
numpy<2.0
opencv-python==4.10.0.84
torch
torchvision
torchaudio
hydra-core
pillow
plotly
tqdm

# reasoning module
openai

# planning module
py_trees
faiss-cpu
antlr4-python3-runtime~=4.13.1
protobuf==3.20.3

# dualmap module
open_clip_torch
ultralytics==8.3.103
supervision==0.25.1
open3d
imageio
natsort
kornia
tabulate
pympler
rerun-sdk==0.22.1
git+https://github.com/ultralytics/CLIP.git
git+https://github.com/apple/ml-mobileclip.git
# if use habitat-data-collector
# habitat-sim==0.3.2
# habitat-lab==0.3.2
# gym==0.23.0
# antlr4-python3-runtime==4.9.3 # conflict with btpg required version 4.13.1

# simulation deployment test
isaacsim==5.0.0.0
isaaclab==0.44.9  # version v2.2.0
